<div class="container-fluid inscription text-center">
  <div class="row justify-content-center">
    <div class="col logo">
      <img src="logo-color.png" alt="logo couleurs">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col form">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdmbCEpiLBqavnxXbILAJkd0c3oiJbWR1FdNfpZnxE2pyt0gQ/viewform?embedded=true"
        width="{{ screenWidth }}"
        height="1800"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Chargement…</iframe
      >
    </div>
  </div>
</div>
