nav {
  padding: 1rem 0 !important;
  background-color: white !important;
  .container-fluid {
    padding: 0 2rem;
    #etincelles-name {
      padding-left: 1rem;
      letter-spacing: 10px;
      font-size: medium;
      font-weight: 400
    }
  }
  #navbarSupportedContent {
    justify-content: start !important;
    > ul {
      width: 100%;
      margin: 0 !important;
      justify-content: space-evenly;
      li > a {
        letter-spacing: 5px;
      }
    }
  }
}

