<div class="container-fluid valeurs text-center">
  <div class="row justify-content-center valeurs-block">
    <div class="col-lg-8">
      <h3>Nos valeurs</h3>
      <p>
        Tout peut être passionnant à apprendre si on est dans un environnement
        motivant et plaisant.
      </p>
      <p>
        Dans nos ateliers, les enfants apprennent à avoir une attitude optimiste
        et décontractée face à tous les champs de la connaissance. Tout est
        compréhensible à (presque) tout âge si la pédagogie est adaptée. Olivier
        de Pins a pu le constater au cours de ses dix années comme professeur des
        écoles et 6 années comme journaliste.
      </p>
      <p>
        Ces ateliers fournissent donc des repères essentiels, communs au plus
        grand nombre, mais aussi une méthodologie. Votre enfant cherchera à
        comprendre le contexte d’une actualité. Il apprend à consulter les
        sources sérieuses et les médias reconnus. Ainsi, la culture générale et
        l'actualité sont étroitement liées. Il s'agit également de cultiver un
        esprit critique vis-à-vis des réseaux sociaux et de l'intelligence
        artificielle.
      </p>
      <p>
        Enfin, la culture générale n’est pas un ensemble de savoirs figés ou un
        catalogue de références tape-à-l’oeil. Il s’agit de développer un esprit
        d’ouverture et de curiosité intellectuelle : explorer la musique de
        Mozart à XXXtentation, étudier la Victoire de Samothrace comme le Land
        Art d’Andy Goldsworthy, lire des extraits d’Homère, d’Hannah Arendt ou
        de Christophe Blain.
      </p>
      <p>
        Notre objectif : faire des étincelles afin d’allumer des feux de
        connaissances.
      </p>
    </div>
  </div>
  <div class="row image">
    <div class="col image-classe">
    </div>
  </div>
  <div class="row intervenants">
    <div class="col-lg-6">
      <img src="portrait2.jpg" alt="portrait" />
    </div>
    <div class="col-lg-6 texte">
      <h3>Pourquoi j’ai conçu ces ateliers ?</h3>
      <p>
        Depuis mon enfance, j'ai toujours eu le nez plongé dans les
        encyclopédies, les bandes dessinées et les romans. J’ai ensuite passé
        beaucoup de temps dans les journaux ou sur Wikipedia…et je ne m’en lasse
        pas.
      </p>
      <p>
        Après une classe préparatoire littéraire, j'ai poursuivi mes études à
        Sciences Po Bordeaux, me spécialisant sur l’Afrique.
      </p>
      <p>
        J'ai débuté ma carrière comme jeune journaliste pour le magazine Les
        Clés de l'Actualité, destiné aux adolescents. Par la suite, j'ai été
        correspondant à Bruxelles pour La Croix et pigiste pour l'agence
        Reuters.
      </p>
      <p>
        Mes nombreux séjours en Afrique (Congo RDC, Rwanda, Centrafrique...) ont
        été l'occasion de réaliser des reportages publiés dans des médias en
        France et à l'étranger.
      </p>
      <p>
        J'ai choisi de devenir professeur des écoles en 2014 à Paris, pour
        découvrir de nouvelles manières de transmettre. J’ai enrichi mon
        parcours par des formations en neurosciences et sur différentes
        pédagogies.
      </p>
      <p>
        Pour fusionner mes deux métiers, j'ai lancé ces ateliers en 2019 dans
        plusieurs établissements scolaires, auprès de familles et dans des
        centres sociaux.
      </p>
      <p>Olivier de Pins</p>
    </div>
  </div>
</div>
