@import "./../../assets/styles/colors.scss";

.valeurs {
  .valeurs-block {
    padding: 2rem;
    background-color: $base-color;
    color: white;
    h3 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 3rem;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    .feu {
      img {
        width: 30%;
      }
    }
  }
  .intervenants {
    margin: 2rem;
    color: $base-color;
    img {
      width: 50%;
    }
    h3 {
      margin-bottom: 1rem;
    }
    .texte {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p:last-of-type {
        margin-top: 1rem;
        font-style: italic;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  .image {
    .image-classe {
      background-image: url("./../../../public/valeurs1.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 35rem;
    }
  }
}

@media (max-width: 1399px) {
  .valeurs {
    .valeurs-block {
      .feu {
        margin-top: 2rem;
        img {
          width: 10%;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .valeurs {
    .intervenants {
      img {
        width: 60%;
      }
    }
    .image {
      .image-classe {
        height: 30rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .valeurs {
    .intervenants {
      img {
        width: 40%;
        margin-bottom: 1rem;
      }
    }
    .image {
      .image-classe {
        height: 20rem;
      }
    }
    .valeurs-block {
      .feu {
        img {
          width: 15%;
        }
      }
      .image {
        height: 10rem;
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .valeurs {
    .image {
      .image-classe {
        height: 15rem;
        background-size: cover;
      }
    }
    .valeurs-block {
      .feu {
        img {
          width: 20%;
        }
      }
    }
  }
}
