@import "./../../assets/styles/colors.scss";

.formules {
  .family, .etablissements {
    padding: 2rem;
    background-color: $base-color;
    h3 {
      color: white;
      margin: 3rem;
    }
    h4.mention{
      margin-top: 3rem;
      font-style: italic;
      span {
        cursor: pointer;
        text-decoration: underline;
        color: $base-color
      }
    }
    .first,
    .second {
      > div {
        margin: 1rem 0;
        height: 100%;
      }
    }
    .card-header {
      color: $base-color;
    }
    .card-body {
      color: $base-color;
      .card-text,
      .card-title {
        i {
          margin-right: 1rem;
          color: $yellow-background;
          font-size: large;
        }
      }
    }
  }
  .etablissements{
    background-color: $yellow-background;
  }
}
