<div class="container-fluid formules text-center">
  <div class="row">
    <div class="col family">
      <div class="row justify-content-center first">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Groupe hebdomadaire</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>Le mercredi toute l’année,
                sauf vacances scolaires - durée : 1H
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>10h-11H : CM1 et CM2
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>11h-12h : 6e et 5e
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>16h30-17h30 : 4e et 3e
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>Dans une salle à Paris 16e (Métro
                La Muette/Passy)
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>12 élèves maximum
              </p>
              <p class="card-text special">
                Cours d’essai gratuit les 28 août et 4 septembre.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Spécial HGGSP pour les lycéens</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>Le mercredi toute l’année,
                sauf vacances scolaires - durée : 1H
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>17h30-18h30
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>Dans une salle à Paris 16e (Métro
                La Muette/Passy)
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>12 élèves maximum
              </p>
              <p class="card-text special">
                Cours d’essai gratuit les 28 août et 4 septembre.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Petit groupe hebdomadaire</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>Le mercredi, sauf vacances
                scolaires
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>14h-15h15
              </p>
              <p class="card-text">
                <i class="bi bi-clock-history"></i>Durée : 1h15
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>Au domicile d’une des familles
              </p>
              <p class="card-text"><i class="bi bi-people-fill"></i>5 élèves</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center second">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Petit groupe mensuel</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>Un samedi par mois
              </h5>
              <p class="card-text">
                <i class="bi bi-clock-history"></i>Durée : 1h30
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>3 créneaux possibles :
                10h30-12h, 14h-15h30, 16h30-18h
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>Au domicile, dans une salle Métro
                Sentier ou en visio
              </p>
              <p class="card-text"><i class="bi bi-people-fill"></i>5 élèves</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Vacances scolaires</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>Stage de 4 ateliers à la
                Toussaint (21-24 octobre)
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>créneaux : 10h30-12h ou
                14h-15h30
              </p>
              <p class="card-text">
                <i class="bi bi-clock-history"></i>Durée : 1h30 chaque atelier
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>En groupe de 5 élèves, à
                domicile
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>En groupe de 12, dans une salle
                à Paris
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Cours particulier</h4>
            <div class="card-body">
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>A domicile ou dans une salle à
                Paris 2e (Sentier) ou 16e (Métro La Muette/Passy)
              </p>
              <p class="card-text">
                <i class="bi bi-list-stars"></i>Culture Générale, méthodologie
                dissertation, préparation au bac Français, Philosophie, HGGSP
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col etablissements">
      <h1>Etablissements scolaires</h1>
      <div class="row justify-content-center first">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Intervention en classe</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1h30
              </h5>
              <p class="card-text">
                Sur un ou plusieurs thèmes à définir ensemble, ou parmi ceux-ci
                : panorama des médias, fake news, enjeux autour de
                l’intelligence artificielle, civilisations anciennes, conflits
                actuels.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Atelier périscolaire à l’année</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1h chaque semaine
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>(midi ou après les cours)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center first">
        <div class="col">
          <h4 class="mention">
            Conditions et tarifs des différentes formules sur demande (<span
              [routerLink]="'/inscription'"
              >page inscription</span
            >)
          </h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 dessin">
          <img src="Fusée.png" alt="Dessin fusée" />
        </div>
      </div>
    </div>
  </div>
</div>
