<div class="container-fluid formules text-center">
  <div class="row">
    <div class="col family">
      <div class="row justify-content-center first">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Groupe en visioconférence</h4>
            <div class="card-body">
              <p class="card-text">
                <i class="bi bi-people-fill"></i>Par classe d’âge, à partir du
                CM1 jusqu’en Terminale
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>Régulier (hebdomadaire,
                bimensuel ou mensuel) ou ponctuel
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>Jour et horaire à définir
                ensemble
              </p>
              <p class="card-text">
                <i class="bi bi-clock-history"></i>Durée : entre 1h et 1h30
              </p>
              <p class="card-text">
                <i class="bi bi-currency-euro"></i>Tarif : voir en bas de page
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Groupe à Paris</h4>
            <div class="card-body">
              <p class="card-text">
                <i class="bi bi-people-fill"></i>Par classe d’âge, à partir du
                CM1 jusqu’en Terminale
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>Au domicile d’une des familles ou
                dans une salle louée
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>Régulier (hebdomadaire,
                bimensuel ou mensuel) ou ponctuel
              </p>
              <p class="card-text">
                <i class="bi bi-clock-history"></i>Durée : entre 1h et 1h30
              </p>
              <p class="card-text">
                <i class="bi bi-currency-euro"></i>Tarif : voir en bas de page
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Spécial HGGSP pour les lycéens</h4>
            <div class="card-body">
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>Ponctuel ou régulier
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>En visio ou à Paris
              </p>
              <p class="card-text">
                <i class="bi bi-clock-history"></i>Durée : 1h15 ou 1h30
              </p>
              <p class="card-text">
                <i class="bi bi-currency-euro"></i>Tarif : voir en bas de page
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center second">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Vacances scolaires</h4>
            <div class="card-body">
              <p class="card-text">
                <i class="bi bi-people-fill"></i>Par classe d'âge
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>4 ou 5 séances de 1h30 dans
                la semaine
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>Soit en visio soit à domicile ou
                dans une salle à Paris
              </p>
              <p class="card-text">Détails : voir en bas de page</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Cours particulier</h4>
            <div class="card-body">
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>A domicile ou dans une salle à
                Paris
              </p>
              <p class="card-text">
                <i class="bi bi-list-stars"></i>Culture générale, méthodologie
                dissertation, préparation au bac Français, Philosophie, HGGSP, ...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col etablissements">
      <h1>Etablissements scolaires</h1>
      <div class="row justify-content-center first">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Intervention en classe</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1h30
              </h5>
              <p class="card-text">
                Sur un ou plusieurs thèmes à définir ensemble, ou parmi ceux-ci
                : panorama des médias, fake news, enjeux autour de
                l’intelligence artificielle, civilisations anciennes, conflits
                actuels.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Atelier périscolaire à l’année</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1h chaque semaine
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>(midi ou après les cours)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center first">
        <div class="col">
          <h1 class="mention">
            Conditions et tarifs des différentes formules :
          </h1>
          <div
            *ngIf="screenWidth > 750"
            class="offset-xl-2 offset-lg-1 col-xl-8 col-lg-10 col-md-12"
          >
            <iframe
              width="100%"
              height="{{ iframeHeight }}"
              src="https://docs.google.com/document/d/14us1NWUouIW7hUV2g36IRnRwC--luOze/pub?embedded=true"
            ></iframe>
          </div>
          <div *ngIf="screenWidth <= 750">
            <a
              href="https://docs.google.com/document/d/14us1NWUouIW7hUV2g36IRnRwC--luOze/pub"
              >Cliquez sur ce lien pour accéder à la page</a
            >
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 dessin">
          <img src="Fusée.png" alt="Dessin fusée" />
        </div>
      </div>
    </div>
  </div>
</div>
