<div class="container-fluid formules text-center">
  <div class="row">
    <div class="col family">
      <h3>Pour les familles</h3>
      <div class="row justify-content-center first">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Groupe hebdomadaire</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1h le mercredi matin
              </h5>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>dans une salle, Paris 16e
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>15 élèves maximum
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>De 10 à 11H pour les CM1 et
                CM2
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>De 11 à 12H pour les
                collégiens
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Petit groupe bimensuel</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1 mercredi sur 2
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>de 13h30 à 15h ou 16h à 17h30
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>1h30 en petit groupe de 5 élèves
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>réunis à un des domiciles
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Groupe bimensuel</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1 mercredi sur 2
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>de 18h30 à 19h30
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>dans une salle à Paris (Métro
                Sentier)
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>15 élèves maximum
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center second">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Petit groupe mensuel</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1h30
              </h5>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>en groupe de 5 élèves
              </p>
              <p class="card-text">
                <i class="bi bi-geo-fill"></i>à domicile ou en visio
              </p>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>le samedi
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Vacances scolaires</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>stages de 4 ateliers de 1h30
              </h5>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>en groupe de 15 dans une salle
                à Paris
              </p>
              <p class="card-text">
                <i class="bi bi-people-fill"></i>ou en groupe de 5 à domicile
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col etablissements">
      <h3>Etablissements scolaires</h3>
      <div class="row justify-content-center first">
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Intervention en classe</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>Sur une ou plusieurs
                demi-journées
              </h5>
              <p class="card-text">
                Sur des thèmes à définir ensemble, ou parmi ceux-ci : panorama
                des médias, fake news, enjeux autour de l’intelligence
                artificielle, civilisations anciennes, conflits actuels.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="card-header">Atelier périscolaire à l’année</h4>
            <div class="card-body">
              <h5 class="card-title">
                <i class="bi bi-clock-history"></i>1h chaque semaine
              </h5>
              <p class="card-text">
                <i class="bi bi-calendar-check"></i>(midi ou après les cours)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center first">
        <div class="col">
          <h4 class="mention">
            Conditions et tarifs des différentes formule sur demande (<span
              [routerLink]="'/inscription'"
              >page inscription</span
            >)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
