@import "./../../assets/styles/colors.scss";

.atelier {
  .description {
    background-color: $base-color;
    > div {
      padding: 4rem;
      text-align: justify;
      p {
        color: white;
        .bold{
          font-weight: bolder;
        }
      }
    }
    .photo1 {
      background-image: url("./../../../public/atelier1.JPG");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logo {
      background-image: url("./../../../public/logo1-detour.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  .programme {
    background-color: $yellow-background;
    padding: 2rem;
    color: white;
    h3 {
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
  .themes {
    color: $base-color;
    margin: 6rem 0 2rem 0;
    .titre{
      margin-bottom: 2rem;
    }
    .exemple{
      span{
        font-weight: bold;
      }
      p{
        margin-bottom: 2rem;
      }
      p:last-of-type{
        margin-bottom: 0;
      }
    }
    .illustration{
      margin: 6rem 0 2rem 0;
      .titre{
        margin-bottom: 1rem;
      }
      .image{
        display: flex;
        justify-content: center;
        margin: 1rem 0;
      }
    }
  }
  .avis {
    background-color: $base-color;
    padding: 2rem;
    h3 {
      margin-bottom: 2rem;
      color: white;
    }
    button {
      margin: 1rem;
    }
  }
}

@media (max-width: 1399px) {
  .atelier {
    .description {
      .logo {
        height: 10rem;
        margin-top: 2rem;
      }
      .photo1 {
        height: 20rem;
        margin-bottom: 2rem;
      }
    }
  }
}
