<div class="container-fluid atelier text-center">
  <div class="row description">
    <div class="col-xxl-2 logo"></div>
    <div class="col-xxl-6 text">
      <p>
        L'ambiance est dynamique et bienveillante. Les élèves sont tous invités
        à participer activement. Ils peuvent proposer des sujets qui les
        intéressent.
      </p>

      <p>
        Chaque atelier commence par quelques étirements pour favoriser la
        concentration. Un quiz et un récapitulatif de l'actualité sont ensuite
        proposés, avant d'aborder un sujet de fond.
      </p>

      <p>
        Les élèves repartent avec un résumé qu’ils ont complété, pour poursuivre
        les discussions à la maison. Des suggestions de lectures et d'activités
        complémentaires sont proposées. Les ateliers sont animés par Olivier de
        Pins, professeur des écoles et journaliste, et parfois par un autre
        intervenant, formé à la méthode.
      </p>
    </div>
    <div class="col-xxl-4 photo1"></div>
  </div>
  <div class="row programme">
    <div class="col-12"><h3>Au programme</h3></div>
    <div class="col-lg-4">
      <h5>Actualité :</h5>
      <p>
        donner des clés sur les sujets du moment. Se familiariser avec les
        médias, ceux pour les jeunes, et ceux qu’ils liront adultes. Questionner
        les sources.
      </p>
    </div>
    <div class="col-lg-4">
      <h5>Culture générale :</h5>
      <p>
        toutes les matières sont abordées, notamment celles des “grands”
        (philosophie, géopolitique, économie) pour donner confiance et envie
        d’en savoir plus.
      </p>
    </div>
    <div class="col-lg-4">
      <h5>Méthodologie :</h5>
      <p>
        fournir des outils (carte mentale, mieux se concentrer, réfléchir à son
        utilisation de l’intelligence artificielle).
      </p>
    </div>
  </div>
  <div class="row justify-content-center themes">
    <div class="titre">
      <h3>Exemples de thèmes</h3>
    </div>
    <div class="col-lg-8 exemple">
      <p>
        <span>Espionnage :</span> découverte des agences d'espionnage et des
        affaires célèbres comme le Rainbow Warrior. Contexte de la Guerre
        Froide. Liens avec le cinéma. Jeu de rôle "agent double".
      </p>
      <p>
        <span>Guerre en Ukraine :</span> retour sur les origines du conflit à
        travers des articles et de courtes vidéos, adaptés à l’âge des élèves ;
        comment les journalistes couvrent le conflit et découverte des
        protagonistes.
      </p>
      <p>
        <span>Animaux :</span> de Laïka à Hachiko, en passant par Cerbère, une
        galerie d'animaux célèbres, réels ou légendaires, en s'appuyant sur le
        travail de Michel Pastoureau.
      </p>
    </div>
    <div class="col-lg-12 illustration">
      <div class="col-lg-12 titre">
        <h3>Exemples de documents pour les élèves</h3>
      </div>
      <div class="row">
        <div class="col-lg-6 image">
          <div class="card" style="width: 80%">
            <img
              src="illus-livres.png"
              class="card-img-top"
              alt="image illustration"
            />
          </div>
        </div>
        <div class="col-lg-6 image">
          <div class="card" style="width: 80%">
            <img
              src="illus-israel.png"
              class="card-img-top"
              alt="image illustration"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row avis">
    <div class="col-12">
      <h3>Ils recommandent :</h3>
      <button mat-raised-button (click)="openDialog(0)">
        Lire le témoignage de {{ data[0].name }}
      </button>
      <button mat-raised-button (click)="openDialog(1)">
        Lire le témoignage de {{ data[1].name }}
      </button>
      <button mat-raised-button (click)="openDialog(2)">
        Lire le témoignage de {{ data[2].name }}
      </button>
    </div>
  </div>
</div>
