<div class="container-fluid accueil text-center">
  <div class="row baseline">
    <div class="col">
      <span
        >Ateliers de culture générale et d’actualités par Olivier de Pins depuis
        2019</span
      >
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 citation">
      <div>
        <i class="bi bi-quote"></i>
      </div>
      <p>Éduquer,</p>
      <p>ce n’est pas remplir des vases</p>
      <p>mais c’est allumer des feux - Montaigne</p>
      <div class="revert">
        <i class="bi bi-quote"></i>
      </div>
    </div>
    <div class="col-lg-8 image1"></div>
  </div>
  <div class="row explanations">
    <div class="col-lg-4 text1">
      <p>
        La culture générale n’est pas un ensemble de savoirs figés ou un
        catalogue de références tape-à-l’oeil. C’est avant tout une attitude
        optimiste et décontractée face à tous les champs de la connaissance.
        Tout est compréhensible à (presque) tout âge. J’ai pu constater au cours
        de mes dix années comme professeur des écoles et mes 6 ans comme
        journaliste. Tout peut être passionnant à apprendre si on est dans un
        environnement motivant et joyeux.
      </p>
    </div>
    <div class="col-lg-4 text2">
      <p>
        Ces ateliers fournissent donc des repères essentiels, communs au plus
        grand nombre, mais aussi une méthodologie. Votre enfant cherchera à
        comprendre le contexte d’une actualité. Il apprend à consulter les
        sources sérieuses et les médias reconnus. Ainsi, la culture générale et
        l'actualité sont étroitement liées.
      </p>
    </div>
    <div class="col-lg-4 text3">
      <p>
        Il s'agit également de cultiver un esprit critique vis-à-vis des réseaux
        sociaux et de l'intelligence artificielle. C’est enfin développer un
        esprit d’ouverture et de curiosité intellectuelle : explorer la musique
        de Mozart à XXXtentation, étudier la Victoire de Samothrace comme le
        Land Art d’Andy Goldsworthy, lire des extrait d’Homère, d’Hannah Arendt
        ou de Christophe Blain. C’est faire des étincelles afin d’allumer de
        feux de connaissances.
      </p>
    </div>
  </div>
  <!-- <div class="row border-bottom-line justify-content-center">
    <div class="col-4"></div>
  </div> -->
  <div class="row justify-content-center for-who">
    <div class="col-10">
      <h3>Pour qui et où ?</h3>
      <div class="row">
        <div class="col">
          <i class="bi bi-people"></i>
          <span>
            L’atelier est destiné aux élèves à partir du CM1 et jusqu’à la
            Terminale. Les groupes vont de 5 à 15 élèves, ils sont réunis dans
            la même tranche d'âge, et les contenus adaptés. Il est destiné aux
            passionnés du savoir, tout comme pour ceux ayant des difficultés
            avec le système scolaire traditionnel.
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i class="bi bi-geo-alt-fill"></i>
          <span>
            Les cours ont lieu à Paris, en Île-de-France, ou en visioconférence.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row pedagogy">
    <h3>Pédagogie des ateliers</h3>
    <div class="col-3">
      <h5>Confiance</h5>
    </div>
    <div class="col-3"><h5>Curiosité</h5></div>
    <div class="col-3"><h5>Diversité</h5></div>
    <div class="col-3"><h5>Collectif</h5></div>
  </div>
</div>
