@import "./../../assets/styles/colors.scss";

.accueil {
  .logo-container {
    .logo img {
      width: 50%;
      margin: 2rem;
    }
  }
  .citation {
    background-color: $base-color;
    padding: 4rem 0;
    font-size: 20px;
    letter-spacing: 6px;
    color: white;
    font-style: italic;
    line-height: 3rem;
    > p {
      margin: unset;
      &.normal {
        font-style: normal;
      }
    }
    i {
      font-size: 3rem;
    }
    .revert {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
    }
  }
  .image1 {
    background-image: url("./../../../public/accueil1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .dessins {
    margin: 2rem 0 0;
    .avion img {
      width: 100%;
    }
    .horus img {
      width: 25%;
    }
  }
  .by-who {
    padding: 4rem 0 2rem;
    .by-who-container {
      padding: 2rem;
      background-color: #f6db8d;
      .portrait {
        img {
          border-radius: 50%;
          width: 12rem;
          height: 12rem;
          object-fit: cover;
          margin-bottom: 1rem;
        }
      }
      .ecritures img {
        width: 100%;
      }
    }
    .by-who-text {
      display: flex;
      align-items: center;
      i {
        color: $yellow;
        font-size: xx-large;
      }
      p {
        font-size: 18px;
        color: white;
        line-height: 2rem;
        letter-spacing: 1px;
        margin: unset;
      }
    }
  }
  .explanations {
    > div {
      padding: 2rem;
      line-height: 2rem;
      color: $base-color;
      font-weight: 100;
      font-size: 15px;
      i {
        color: $yellow;
        font-size: xx-large;
      }
      p span {
        font-weight: 700;
      }
    }
  }
  .border-bottom-line {
    > div {
      border-bottom: 1px solid lightgray;
    }
  }

  .pedagogy {
    padding: 4rem 2rem;
    background-color: $base-color;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: large;
    h3 {
      display: inline-block;
      margin: 2rem 0 3rem 0;
      color: $yellow;
      margin-left: 2rem;
    }
    img.logo {
      width: 120px;
      height: auto;
    }
    .pedagogy-text {
      margin-right: unset;
      margin-left: unset;
      > div {
        padding: 2rem 0;
        line-height: 2rem;
      }
    }
    ::ng-deep .mat-mdc-tab.mdc-tab .mdc-tab__text-label {
      color: #f2d170 !important;
      font-size: larger;
      letter-spacing: 5px;
    }
    ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
      color: white !important;
    }
    ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
      border-color: white !important;
    }
    .garanties {
      background-image: url(./../../../public/garanties.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  .pedagogy-mobile {
    > div {
      margin: 1rem;
      h4 {
        color: $yellow;
      }
      p {
        color: $base-color;
      }
    }
  }
}

.benefices {
  margin-bottom: 4rem;
  background-color: $base-color;
  .img-class {
    background-image: url("./../../../public/accueil2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .benefices-text {
    padding: 2rem 1rem;
    color: white;
    h3 {
      margin: 3rem 0;
      color: $yellow;
    }
    p {
      margin: 2rem 0;
      span {
        margin-right: 5px;
        color: $yellow;
      }
    }
    p:last-of-type {
      margin-bottom: 3rem;
    }
  }
}

@media (min-width: 1300px) {
  .accueil {
    .baseline {
      .logo {
        text-align: end;
      }
    }
  }
}

@media (max-width: 1199px) {
  .accueil {
    .benefices {
      .img-class {
        height: 500px;
      }
    }
    .logo-container {
      .logo img {
        width: 60%;
      }
    }
    .by-who {
      .by-who-container {
        .ecritures img {
          margin-top: 2rem;
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .accueil {
    .baseline {
      .logo {
        margin-bottom: 2rem;
      }
    }
    .logo-container {
      .logo img {
        width: 75%;
      }
    }
    .image1 {
      height: 400px;
    }
    .benefices {
      .img-class {
        height: 400px;
      }
    }
    .garanties {
      margin-top: 3rem;
      height: 300px;
    }
  }
}

@media (max-width: 700px) {
  .accueil {
    .benefices {
      .img-class {
        height: 350px;
      }
    }
  }
}

@media (max-width: 575px) {
  .accueil {
    .logo-container {
      .logo img {
        width: 85%;
      }
    }
    .benefices {
      .img-class {
        height: 250px;
      }
    }
    .dessins {
      .avion img {
        width: 50%;
      }
      .ecriture img {
        width: 50%;
      }
      .horus img {
        width: 20%;
      }
    }
    .by-who {
      .by-who-container {
        .ecritures img {
          width: 80%;
        }
      }
    }
  }
}
