<div class="container-fluid accueil text-center">
  <div class="row logo-container">
    <div class="logo">
      <img src="logo-blockmark.png" alt="Logo Étincelles" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 citation">
      <div>
        <i class="bi bi-quote"></i>
      </div>
      <p>Éduquer,</p>
      <p>ce n’est pas remplir des vases</p>
      <p>mais c’est allumer des feux.</p>
      <div class="revert">
        <i class="bi bi-quote"></i>
      </div>
      <p class="normal">Montaigne</p>
    </div>
    <div class="col-lg-8 image1"></div>
  </div>
  <div class="row justify-content-center by-who">
    <div class="col-lg-7 by-who-container">
      <div class="row">
        <div class="col-xl-4 portrait">
          <img src="portrait-carre.jpeg" alt="Portrait Olivier de Pins" />
        </div>
        <div class="col-xl-8 by-who-text">
          <p>
            Conçus par un professeur des écoles et journaliste, les ateliers
            Étincelles associent culture générale et actualités, dans une
            ambiance bienveillante et ludique. Depuis 2019, ils sont conçus en
            cohérence avec le programme scolaire.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row explanations">
    <div class="col-lg-4">
      <i class="bi bi-people"></i>
      <p>
        Ces cours collectifs s’adressent aux jeunes de
        <span class="bold">8 à 18 ans, réunis par tranche d’âge</span>. Cette
        méthode permet une progression de tous : ceux qui sont passionnés de
        savoirs comme ceux qui rencontrent des difficultés scolaires.
      </p>
    </div>
    <div class="col-lg-4">
      <i class="bi bi-geo-alt-fill"></i>
      <p>
        Les ateliers Étincelles se tiennent soit en
        <span class="bold">visioconférence</span>, soit à
        <span class="bold">Paris</span>. Ils ont alors lieu en petit groupe
        <span class="bold">à domicile</span>, ou en grand groupe
        <span class="bold">dans une salle de travail</span> louée pour
        l'occasion. Ils sont aussi destinés aux
        <span class="bold">établissements scolaires</span> (atelier périscolaire
        ou intervention ponctuelle).
      </p>
    </div>
    <div class="col-lg-4">
      <i class="bi bi-calendar-event"></i>
      <p>
        Ils ont lieu de manière
        <span class="bold">ponctuelle ou régulière</span>, au rythme qui vous
        convient <span class="bold">(hebdomadaire, bimensuel ou mensuel)</span>.
        Des <span class="bold">stages</span> sont organisés
        <span class="bold">pendant les vacances</span> scolaires. Les ateliers
        durent de 1h à 1h30.
      </p>
    </div>
  </div>
  <div class="row justify-content-center pedagogy">
    <div class="col-lg-8">
      <div>
        <img class="logo" src="logo1-detour.png" alt="" />
        <h3>Pédagogie des ateliers</h3>
      </div>
      <mat-tab-group *ngIf="!onMobile; else onMobileTemplate">
        <mat-tab label="Confiance">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-8">
              Prendre les élèves au sérieux est essentiel. Ils sont capables de
              comprendre tous les sujets, même ceux des “grands”, tels que
              l’actualité internationale, la géopolitique, l’ethnologie… s’ils
              sont expliqués avec clarté.
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Curiosité">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-lg-8">
              Susciter un déclic en s’appuyant sur des récits haletants, les
              vies de personnages historiques et des anecdotes amusantes.
              Utiliser des méthodes ludiques (quiz, jeux de rôle, résumés en
              binôme) pour éveiller l'intérêt des élèves.
            </div>
          </div></mat-tab
        >
        <mat-tab label="Diversité">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-8">
              Varier les sujets et les modalités d'apprentissage : travailler
              seul, à deux, en groupe. Croiser les points de vue et faire le
              lien avec le programme scolaire. Montrer des cartes, images et
              courtes vidéos.
            </div>
          </div></mat-tab
        >
        <mat-tab label="Collectif">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-8">
              S’appuyer sur la dynamique de groupe pour créer une émulation
              positive. Le travail collectif permet à chacun de se surpasser.
            </div>
          </div></mat-tab
        >
      </mat-tab-group>
      <ng-template #onMobileTemplate>
        <div class="row justify-content-center pedagogy-mobile">
          <div class="col-sm-8">
            <div class="card">
              <h4 class="card-header">Confiance</h4>
              <div class="card-body">
                <p class="card-text">
                  Prendre les élèves au sérieux est essentiel. Ils sont capables
                  de comprendre tous les sujets, même ceux des “grands”, tels
                  que l’actualité internationale, la géopolitique, l’ethnologie…
                  s’ils sont expliqués avec clarté.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card">
              <h4 class="card-header">Curiosité</h4>
              <div class="card-body">
                <p class="card-text">
                  Susciter un déclic en s’appuyant sur des récits haletants, les
                  vies de personnages historiques et des anecdotes amusantes.
                  Utiliser des méthodes ludiques (quiz, jeux de rôle, résumés en
                  binôme) pour éveiller l'intérêt des élèves.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card">
              <h4 class="card-header">Diversité</h4>
              <div class="card-body">
                <p class="card-text">
                  Varier les sujets et les modalités d'apprentissage :
                  travailler seul, à deux, en groupe. Croiser les points de vue
                  et faire le lien avec le programme scolaire. Montrer des
                  cartes, images et courtes vidéos.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card">
              <h4 class="card-header">Collectif</h4>
              <div class="card-body">
                <p class="card-text">
                  S’appuyer sur la dynamique de groupe pour créer une émulation
                  positive. Le travail collectif permet à chacun de se
                  surpasser.
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-lg-3 offset-lg-1 garanties"></div>
  </div>
  <div class="row justify-content-center benefices">
    <div class="col-xl-6 img-class"></div>
    <div class="col-xl-6 benefices-text">
      <h3>Bénéfices des ateliers</h3>
      <p>
        <span>1.</span>Forger l’esprit critique, notamment sur les fake news et
        l’intelligence artificielle.
      </p>
      <p>
        <span>2.</span>Renforcer l'intérêt pour l’apprentissage et l’école,
        developper la confiance en soi.
      </p>
      <p>
        <span>3.</span>Offrir un premier aperçu positif des matières qu’ils
        étudieront plus tard.
      </p>
      <p>
        <span>4.</span>Affiner des compétences telles que lire à voix haute,
        résumer, argumenter.
      </p>
      <p>
        <span>5.</span>Acquérir un savoir-être : prendre la parole en public et
        l’adapter à son auditoire, savoir écouter l’autre et débattre.
      </p>
      <div class="row justify-content-center align-items-center dessins">
        <div class="col-4 avion">
          <img src="hydravion.png" alt="Dessin Hydravion" />
        </div>
        <div class="col-4 horus">
          <img src="horus.png" alt="Dessin Horus" />
        </div>
        <div class="col-4 ecriture">
          <img src="ecriture.png" alt="Dessin Ecritures" />
        </div>
      </div>
    </div>
  </div>
</div>
