@import "./../../assets/styles/colors.scss";

.accueil {
  .baseline {
    // background: repeating-linear-gradient(
    //   -45deg,
    //   transparent 0 40px,
    //   #76e6ad 40px 80px
    // );
    padding: 4rem 0;
    font-size: 28px;
    letter-spacing: 6px;
    color: black;
    font-weight: 100;
    .logo img {
      width: 10rem;
      margin: 0 2rem;
    }
    .baseline-text {
      display: flex;
      align-items: center;
      .since {
        font-style: italic;
        font-size: smaller;
      }
    }
  }
  .citation {
    background-color: $base-color;
    padding: 4rem 0;
    font-size: 20px;
    letter-spacing: 6px;
    color: white;
    font-style: italic;
    line-height: 3rem;
    > p {
      margin: unset;
    }
    i {
      font-size: 3rem;
    }
    .revert {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
    }
  }
  .image1 {
    background-image: url("./../../../public/image1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .by-who {
    padding: 4rem 0 2rem;
    .by-who-container{
      padding: 2rem;
      background-color: $base-color;
      .portrait {
        img {
          border-radius: 50%;
          width: 12rem;
          height: 12rem;
          object-fit: cover;
        }
      }
    }
    .by-who-text{
      display: flex;
      align-items: center;
      i{
        color: $yellow;
        font-size: xx-large;
      }
      p{
        color: white;
        line-height: 2rem;
        letter-spacing: 1px;
        margin: unset;
      };
    }
  }
  .explanations {
    > div {
      padding: 2rem;
      line-height: 2rem;
      color: $base-color;
      letter-spacing: 1px;
      font-weight: 100;
      font-size: small;
      i {
        color: $yellow;
        font-size: xx-large;
      }
    }
  }
  .border-bottom-line {
    > div {
      border-bottom: 1px solid lightgray;
    }
  }
  // .for-who {
  //   padding: 2rem;
  //   background-color: #76e6ad;
  //   color: white;
  //   letter-spacing: 2px;
  //   font-weight: 100;
  //   font-size: large;
  //   h4 {
  //     margin-bottom: 1rem;
  //   }
  //   p {
  //     margin: 0;
  //   }
  //   i {
  //     font-size: xx-large;
  //   }
  // }
  .pedagogy {
    padding: 4rem 2rem;
    background-color: $base-color;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: large;
    h3 {
      display: inline-block;
      margin: 2rem 0 3rem 0;
      color: $yellow;
      margin-left: 2rem;
    }
    img {
      width: 120px;
      height: auto;
    }
    .pedagogy-text {
      margin-right: unset;
      margin-left: unset;
      > div {
        padding: 2rem 0;
        line-height: 2rem;
      }
    }
    ::ng-deep .mat-mdc-tab.mdc-tab .mdc-tab__text-label {
      color: #f2d170 !important;
      font-size: larger;
      letter-spacing: 5px;
    }
    ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
      color: white !important;
    }
    ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
      border-color: white !important;
    }
  }
}

.benefices {
  margin-bottom: 4rem;
  .img-class {
    background-image: url("./../../../public/image2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .benefices-text {
    padding: 2rem 1rem;
    background-color: $base-color;
    color: white;
    h3 {
      margin: 3rem 0;
      color: $yellow;
    }
    p {
      margin: 2rem 0;
      span {
        margin-right: 5px;
        color: $yellow;
      }
    }
    p:last-of-type {
      margin-bottom: 3rem;
    }
  }
}

@media (min-width: 1300px) {
  .accueil {
    .baseline {
      .logo {
        text-align: end;
      }
    }
  }
}

@media (max-width: 991px) {
  .accueil {
    .baseline{
      .logo{
        margin-bottom: 2rem;
      }
    }
    .image1 {
      height: 400px;
    }
  }
  .benefices {
    .img-class {
      height: 500px;
    }
  }
}
