<div class="container-fluid accueil text-center">
  <div class="row baseline">
    <div class="col">
      <span>Ateliers de culture générale et d’actualités depuis 2019</span>
    </div>
  </div>
  <!-- <br /> -->
  <div class="row">
    <div class="col-lg-4 citation">
      <div>
        <i class="bi bi-quote"></i>
      </div>
      <p>Éduquer,</p>
      <p>ce n’est pas remplir des vases</p>
      <p>mais c’est allumer des feux - Montaigne</p>
      <div class="revert">
        <i class="bi bi-quote"></i>
      </div>
    </div>
    <div class="col-lg-8 image1"></div>
  </div>
  <div class="row explanations">
    <div class="col-lg-3">
      <i class="bi bi-text-paragraph"></i>
      <p>
        Conçus par un professeur des écoles et journaliste, ces ateliers mêlent
        culture générale et actualités, dans une ambiance bienveillante et
        ludique.
      </p>
    </div>
    <div class="col-lg-3">
      <i class="bi bi-people"></i>
      <p>
        Ils s’adressent aux jeunes de 8 à 18 ans, réunis par tranche d’âge.
        Cette méthode permet une progression de tous : ceux qui sont passionnés
        de savoirs comme à ceux qui rencontrent des difficultés.
      </p>
    </div>
    <div class="col-lg-3">
      <i class="bi bi-geo-alt-fill"></i>
      <p>
        Ils se tiennent à Paris, en groupe de 5 élèves à domicile, ou de 15
        élèves dans une salle louée.
      </p>
    </div>
    <div class="col-lg-3">
      <i class="bi bi-calendar-event"></i>
      <p>
        Ces ateliers ont lieu de manière régulière ou lors de stages, et peuvent
        aussi se tenir en visioconférence. D’une durée de 1h ou 1h30, ils sont
        conçus en cohérence avec les attendus du programme scolaire. Ils sont
        aussi destinés aux établissements scolaires (atelier périscolaire ou
        intervention ponctuelle).
      </p>
    </div>
  </div>
  <!-- <div class="row border-bottom-line justify-content-center">
    <div class="col-4"></div>
  </div> -->
  <!-- <div class="row justify-content-center for-who">
    <div class="col-10">
      <h3>Pour qui et où ?</h3>
      <div class="row">
        <div class="col">
          <i class="bi bi-people"></i>
          <span>
            L’atelier est destiné aux élèves à partir du CM1 et jusqu’à la
            Terminale. Les groupes vont de 5 à 15 élèves, ils sont réunis dans
            la même tranche d'âge, et les contenus adaptés. Il est destiné aux
            passionnés du savoir, tout comme pour ceux ayant des difficultés
            avec le système scolaire traditionnel.
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i class="bi bi-geo-alt-fill"></i>
          <span>
            Les cours ont lieu à Paris, en Île-de-France, ou en visioconférence.
          </span>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row justify-content-center pedagogy">
    <div class="col-lg-8">
      <div>
        <img src="logo1-detour.png" alt="">
        <h3>Pédagogie des ateliers</h3>
      </div>
      <mat-tab-group>
        <mat-tab label="Confiance">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-8">
              Prendre les élèves au sérieux est essentiel. Ils sont capables de
              comprendre tous les sujets, même ceux des “grands”, tels que
              l’actualité internationale, la géopolitique, l’ethnologie… s’ils
              sont expliqués avec clarté.
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Curiosité">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-lg-8">
              Susciter un déclic en s’appuyant sur des récits haletants, les
              vies de personnages historiques et des anecdotes amusantes.
              Utiliser des méthodes ludiques (quiz, jeux de rôle, résumés en
              binôme) pour éveiller l'intérêt des élèves.
            </div>
          </div></mat-tab
        >
        <mat-tab label="Diversité">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-8">
              Varier les sujets et les modalités d'apprentissage : travailler
              seul, à deux, en groupe. Croiser les points de vue et faire le
              lien avec le programme scolaire. Montrer des cartes, images et
              courtes vidéos.
            </div>
          </div></mat-tab
        >
        <mat-tab label="Collectif ">
          <div class="row justify-content-center pedagogy-text">
            <div class="col-8">
              S’appuyer sur la dynamique de groupe pour créer une émulation
              positive. Le travail collectif permet à chacun de se surpasser.
            </div>
          </div></mat-tab
        >
      </mat-tab-group>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
